<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navcss">
  <a class="navbar-brand" href="#">Search Doctor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item extra-padding">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item extra-padding">
        <a class="nav-link" href="/profile">
          <span *ngIf="userRole==='user' || userRole==='admin'">Profile</span>
          <span *ngIf="userRole==='doctor'">Manage</span>
        </a>
      </li>
      <li class="nav-item" class="extra-padding">
        <a class="nav-link" *ngIf="profile.username === 'admin'" href="/admin">Admin</a>
      </li>
    </ul>
    <mat-icon matSuffix class="profileIcon">account_circle</mat-icon>
    <span id="username">{{profile.username}}</span>
    <span class="navbar-text" id="logoutBtn">
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </span>
  </div>
</nav>


<img src={{docProfileInfo.profile.image_url}} alt="Image" style="width:100px;height:100px;" id="rounded-image">
<hr class="hr-text" data-content="Information">
<div id="nameField">
  <span id="firstName">{{docProfileInfo.profile.first_name}}</span>
  <span id="middleName">{{docProfileInfo.profile.middle_name}}</span>
  <span id="lastName">{{docProfileInfo.profile.last_name}}</span>
  <span id="title">({{docProfileInfo.profile.title}})</span>
</div>

<div id="bioDiv">
  <span id="bioDivSpan">{{docProfileInfo.profile.bio}}</span>
</div>

<button mat-raised-button *ngIf="userRole==='user'" id="align-centre" (click)="createAppointment(docProfileInfo)">
  Request
  Appointment
</button>

